# Dealing with datetimes and strings üèÇ

`Datetime` and `str` are very widespread python types:
* [datetime](https://docs.python.org/3/library/datetime.html)
* [str](https://docs.python.org/3/library/string.html)

Manipulating that kind of data may reveal difficult, but fortunately there exists many tools that will help you master it. In particular, pandas provides the `.dt` and `.str` submodules that will help you make basic operations on datetime and string objects.

In this lecture, you will learn how to:
* Convert strings to datetimes and the way back
* Extract features from datetimes
* Make operations on datetimes thanks to the Timedelta type
* Make basic operations on strings
* Extract features from strings

In [1]:
import pandas as pd

## Pandas and datetime : the .dt submodule üìÖ

Pandas provides very advanced datetime-handling features. In this section, some basic attributes/methods from pandas' `.dt` submodule are introduced.

Let's begin by reading some data containing dates and times:

In [2]:
df = pd.read_csv("datetime_df.csv")
df.head()

                    dt      values
0  2022-01-01 00:00:00  100.867870
1  2022-01-01 01:00:00  100.950371
2  2022-01-01 02:00:00  100.015876
3  2022-01-01 03:00:00   97.719805
4  2022-01-01 04:00:00   98.952580

In [3]:
df.dtypes

dt         object
values    float64
dtype: object

### Date+time = Datetime

#### Conversion : from string to datetime
Very often, when you load data into a pandas DataFrame or Series, datetime formats will be read as strings. The first thing to do to avoid compatibility issues is to use `pd.to_datetime` to convert the Series/column to the right type:

In [4]:
df['dt'] = pd.to_datetime(df["dt"])
df.dtypes

dt        datetime64[ns]
values           float64
dtype: object

In [5]:
pd.to_datetime?

Signature:
pd.to_datetime(
    arg: 'DatetimeScalarOrArrayConvertible | DictConvertible',
    errors: 'DateTimeErrorChoices' = 'raise',
    dayfirst: 'bool' = False,
    yearfirst: 'bool' = False,
    utc: 'bool' = False,
    format: 'str | None' = None,
    exact: 'bool | lib.NoDefault' = <no_default>,
    unit: 'str | None' = None,
    infer_datetime_format: 'lib.NoDefault | bool' = <no_default>,
    origin: 'str' = 'unix',
    cache: 'bool' = True,
) -> 'DatetimeIndex | Series | DatetimeScalar | NaTType | None'
Docstring:
Convert argument to datetime.

This function converts a scalar, array-like, :class:`Series` or
:class:`DataFrame`/dict-like to a pandas datetime object.

Parameters
----------
arg : int, float, str, datetime, list, tuple, 1-d array, Series, DataFrame/dict-like
    The object to convert to a datetime. If a :class:`DataFrame` is provided, the
    method expects minimally the following columns: :const:`"year"`,
    :const:`"month"`, :const:`"day"`. The column "year"
    must be specified in 4-digit format.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If :const:`'raise'`, then invalid parsing will raise an exception.
    - If :const:`'coerce'`, then invalid parsing will be set as :const:`NaT`.
    - If :const:`'ignore'`, then invalid parsing will return the input.
dayfirst : bool, default False
    Specify a date parse order if `arg` is str or is list-like.
    If :const:`True`, parses dates with the day first, e.g. :const:`"10/11/12"`
    is parsed as :const:`2012-11-10`.

    .. warning::

        ``dayfirst=True`` is not strict, but will prefer to parse
        with day first.

yearfirst : bool, default False
    Specify a date parse order if `arg` is str or is list-like.

    - If :const:`True` parses dates with the year first, e.g.
      :const:`"10/11/12"` is parsed as :const:`2010-11-12`.
    - If both `dayfirst` and `yearfirst` are :const:`True`, `yearfirst` is
      preceded (same as :mod:`dateutil`).

    .. warning::

        ``yearfirst=True`` is not strict, but will prefer to parse
        with year first.

utc : bool, default False
    Control timezone-related parsing, localization and conversion.

    - If :const:`True`, the function *always* returns a timezone-aware
      UTC-localized :class:`Timestamp`, :class:`Series` or
      :class:`DatetimeIndex`. To do this, timezone-naive inputs are
      *localized* as UTC, while timezone-aware inputs are *converted* to UTC.

    - If :const:`False` (default), inputs will not be coerced to UTC.
      Timezone-naive inputs will remain naive, while timezone-aware ones
      will keep their time offsets. Limitations exist for mixed
      offsets (typically, daylight savings), see :ref:`Examples
      <to_datetime_tz_examples>` section for details.

    .. warning::

        In a future version of pandas, parsing datetimes with mixed time
        zones will raise an error unless `utc=True`.
        Please specify `utc=True` to opt in to the new behaviour
        and silence this warning. To create a `Series` with mixed offsets and
        `object` dtype, please use `apply` and `datetime.datetime.strptime`.

    See also: pandas general documentation about `timezone conversion and
    localization
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
    #time-zone-handling>`_.

format : str, default None
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
      time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
      and you should probably use it along with `dayfirst`.

    .. note::

        If a :class:`DataFrame` is passed, then `format` has no effect.

exact : bool, default True
    Control how `format` is used:

    - If :const:`True`, require an exact `format` match.
    - If :const:`False`, allow the `format` to match anywhere in the target
      string.

    Cannot be used alongside ``format='ISO8601'`` or ``format='mixed'``.
unit : str, default 'ns'
    The unit of the arg (D,s,ms,us,ns) denote the unit, which is an
    integer or float number. This will be based off the origin.
    Example, with ``unit='ms'`` and ``origin='unix'``, this would calculate
    the number of milliseconds to the unix epoch start.
infer_datetime_format : bool, default False
    If :const:`True` and no `format` is given, attempt to infer the format
    of the datetime strings based on the first non-NaN element,
    and if it can be inferred, switch to a faster method of parsing them.
    In some cases this can increase the parsing speed by ~5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has
        no effect.

origin : scalar, default 'unix'
    Define the reference date. The numeric values would be parsed as number
    of units (defined by `unit`) since this reference date.

    - If :const:`'unix'` (or POSIX) time; origin is set to 1970-01-01.
    - If :const:`'julian'`, unit must be :const:`'D'`, and origin is set to
      beginning of Julian Calendar. Julian day number :const:`0` is assigned
      to the day starting at noon on January 1, 4713 BC.
    - If Timestamp convertible (Timestamp, dt.datetime, np.datetimt64 or date
      string), origin is set to Timestamp identified by origin.
    - If a float or integer, origin is the millisecond difference
      relative to 1970-01-01.
cache : bool, default True
    If :const:`True`, use a cache of unique, converted dates to apply the
    datetime conversion. May produce significant speed-up when parsing
    duplicate date strings, especially ones with timezone offsets. The cache
    is only used when there are at least 50 values. The presence of
    out-of-bounds values will render the cache unusable and may slow down
    parsing.

Returns
-------
datetime
    If parsing succeeded.
    Return type depends on input (types in parenthesis correspond to
    fallback in case of unsuccessful timezone or out-of-range timestamp
    parsing):

    - scalar: :class:`Timestamp` (or :class:`datetime.datetime`)
    - array-like: :class:`DatetimeIndex` (or :class:`Series` with
      :class:`object` dtype containing :class:`datetime.datetime`)
    - Series: :class:`Series` of :class:`datetime64` dtype (or
      :class:`Series` of :class:`object` dtype containing
      :class:`datetime.datetime`)
    - DataFrame: :class:`Series` of :class:`datetime64` dtype (or
      :class:`Series` of :class:`object` dtype containing
      :class:`datetime.datetime`)

Raises
------
ParserError
    When parsing a date from string fails.
ValueError
    When another datetime conversion error happens. For example when one
    of 'year', 'month', day' columns is missing in a :class:`DataFrame`, or
    when a Timezone-aware :class:`datetime.datetime` is found in an array-like
    of mixed time offsets, and ``utc=False``.

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_timedelta : Convert argument to timedelta.
convert_dtypes : Convert dtypes.

Notes
-----

Many input types are supported, and lead to different output types:

- **scalars** can be int, float, str, datetime object (from stdlib :mod:`datetime`
  module or :mod:`numpy`). They are converted to :class:`Timestamp` when
  possible, otherwise they are converted to :class:`datetime.datetime`.
  None/NaN/null scalars are converted to :const:`NaT`.

- **array-like** can contain int, float, str, datetime objects. They are
  converted to :class:`DatetimeIndex` when possible, otherwise they are
  converted to :class:`Index` with :class:`object` dtype, containing
  :class:`datetime.datetime`. None/NaN/null entries are converted to
  :const:`NaT` in both cases.

- **Series** are converted to :class:`Series` with :class:`datetime64`
  dtype when possible, otherwise they are converted to :class:`Series` with
  :class:`object` dtype, containing :class:`datetime.datetime`. None/NaN/null
  entries are converted to :const:`NaT` in both cases.

- **DataFrame/dict-like** are converted to :class:`Series` with
  :class:`datetime64` dtype. For each row a datetime is created from assembling
  the various dataframe columns. Column keys can be common abbreviations
  like ['year', 'month', 'day', 'minute', 'second', 'ms', 'us', 'ns']) or
  plurals of the same.

The following causes are responsible for :class:`datetime.datetime` objects
being returned (possibly inside an :class:`Index` or a :class:`Series` with
:class:`object` dtype) instead of a proper pandas designated type
(:class:`Timestamp`, :class:`DatetimeIndex` or :class:`Series`
with :class:`datetime64` dtype):

- when any input element is before :const:`Timestamp.min` or after
  :const:`Timestamp.max`, see `timestamp limitations
  <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
  #timeseries-timestamp-limits>`_.

- when ``utc=False`` (default) and the input is an array-like or
  :class:`Series` containing mixed naive/aware datetime, or aware with mixed
  time offsets. Note that this happens in the (quite frequent) situation when
  the timezone has a daylight savings policy. In that case you may wish to
  use ``utc=True``.

Examples
--------

**Handling various input formats**

Assembling a datetime from multiple columns of a :class:`DataFrame`. The keys
can be common abbreviations like ['year', 'month', 'day', 'minute', 'second',
'ms', 'us', 'ns']) or plurals of the same

>>> df = pd.DataFrame({'year': [2015, 2016],
...                    'month': [2, 3],
...                    'day': [4, 5]})
>>> pd.to_datetime(df)
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

Using a unix epoch time

>>> pd.to_datetime(1490195805, unit='s')
Timestamp('2017-03-22 15:16:45')
>>> pd.to_datetime(1490195805433502912, unit='ns')
Timestamp('2017-03-22 15:16:45.433502912')

.. warning:: For float arg, precision rounding might happen. To prevent
    unexpected behavior use a fixed-width exact type.

Using a non-unix epoch origin

>>> pd.to_datetime([1, 2, 3], unit='D',
...                origin=pd.Timestamp('1960-01-01'))
DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'],
              dtype='datetime64[ns]', freq=None)

**Differences with strptime behavior**

:const:`"%f"` will parse all the way up to nanoseconds.

>>> pd.to_datetime('2018-10-26 12:00:00.0000000011',
...                format='%Y-%m-%d %H:%M:%S.%f')
Timestamp('2018-10-26 12:00:00.000000001')

**Non-convertible date/times**

If a date does not meet the `timestamp limitations
<https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
#timeseries-timestamp-limits>`_, passing ``errors='ignore'``
will return the original input instead of raising any exception.

Passing ``errors='coerce'`` will force an out-of-bounds date to :const:`NaT`,
in addition to forcing non-dates (or non-parseable dates) to :const:`NaT`.

>>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
'13000101'
>>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
NaT

.. _to_datetime_tz_examples:

**Timezones and time offsets**

The default behaviour (``utc=False``) is as follows:

- Timezone-naive inputs are converted to timezone-naive :class:`DatetimeIndex`:

>>> pd.to_datetime(['2018-10-26 12:00:00', '2018-10-26 13:00:15'])
DatetimeIndex(['2018-10-26 12:00:00', '2018-10-26 13:00:15'],
              dtype='datetime64[ns]', freq=None)

- Timezone-aware inputs *with constant time offset* are converted to
  timezone-aware :class:`DatetimeIndex`:

>>> pd.to_datetime(['2018-10-26 12:00 -0500', '2018-10-26 13:00 -0500'])
DatetimeIndex(['2018-10-26 12:00:00-05:00', '2018-10-26 13:00:00-05:00'],
              dtype='datetime64[ns, UTC-05:00]', freq=None)

- However, timezone-aware inputs *with mixed time offsets* (for example
  issued from a timezone with daylight savings, such as Europe/Paris)
  are **not successfully converted** to a :class:`DatetimeIndex`.
  Parsing datetimes with mixed time zones will show a warning unless
  `utc=True`. If you specify `utc=False` the warning below will be shown
  and a simple :class:`Index` containing :class:`datetime.datetime`
  objects will be returned:

>>> pd.to_datetime(['2020-10-25 02:00 +0200',
...                 '2020-10-25 04:00 +0100'])  # doctest: +SKIP
FutureWarning: In a future version of pandas, parsing datetimes with mixed
time zones will raise an error unless `utc=True`. Please specify `utc=True`
to opt in to the new behaviour and silence this warning. To create a `Series`
with mixed offsets and `object` dtype, please use `apply` and
`datetime.datetime.strptime`.
Index([2020-10-25 02:00:00+02:00, 2020-10-25 04:00:00+01:00],
      dtype='object')

- A mix of timezone-aware and timezone-naive inputs is also converted to
  a simple :class:`Index` containing :class:`datetime.datetime` objects:

>>> from datetime import datetime
>>> pd.to_datetime(["2020-01-01 01:00:00-01:00",
...                 datetime(2020, 1, 1, 3, 0)])  # doctest: +SKIP
FutureWarning: In a future version of pandas, parsing datetimes with mixed
time zones will raise an error unless `utc=True`. Please specify `utc=True`
to opt in to the new behaviour and silence this warning. To create a `Series`
with mixed offsets and `object` dtype, please use `apply` and
`datetime.datetime.strptime`.
Index([2020-01-01 01:00:00-01:00, 2020-01-01 03:00:00], dtype='object')

|

Setting ``utc=True`` solves most of the above issues:

- Timezone-naive inputs are *localized* as UTC

>>> pd.to_datetime(['2018-10-26 12:00', '2018-10-26 13:00'], utc=True)
DatetimeIndex(['2018-10-26 12:00:00+00:00', '2018-10-26 13:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

- Timezone-aware inputs are *converted* to UTC (the output represents the
  exact same datetime, but viewed from the UTC time offset `+00:00`).

>>> pd.to_datetime(['2018-10-26 12:00 -0530', '2018-10-26 12:00 -0500'],
...                utc=True)
DatetimeIndex(['2018-10-26 17:30:00+00:00', '2018-10-26 17:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

- Inputs can contain both string or datetime, the above
  rules still apply

>>> pd.to_datetime(['2018-10-26 12:00', datetime(2020, 1, 1, 18)], utc=True)
DatetimeIndex(['2018-10-26 12:00:00+00:00', '2020-01-01 18:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
File:      /opt/homebrew/Caskroom/miniconda/base/envs/api_test/lib/python3.9/site-packages/pandas/core/tools/datetimes.py
Type:      function

The function `pd.to_datetime` will try to guess the string formatting that was used to write the data. This works most of the time, but sometimes you'll have to pass the formatting as an argument of `pd.to_datetime`:
```python
pd.to_datetime(df["dt"], format = "%Y-%m-%d %H:%M:%S")
```

üí° The string passed in `format` respects python's syntax for [strptime](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).

#### Conversion: from datetime to string
You can use the `.dt.strftime()` method to convert the datetime back to string at any time, while choosing the formatting:

In [6]:
df['dt'].dt.strftime("%d/%m/%Y %H:%M:%S")

0       01/01/2022 00:00:00
1       01/01/2022 01:00:00
2       01/01/2022 02:00:00
3       01/01/2022 03:00:00
4       01/01/2022 04:00:00
               ...
8732    30/12/2022 20:00:00
8733    30/12/2022 21:00:00
8734    30/12/2022 22:00:00
8735    30/12/2022 23:00:00
8736    31/12/2022 00:00:00
Name: dt, Length: 8737, dtype: object

#### Feature extraction
The `.dt` submodule contains many attributes that allow to extract features very easily from the `datetime` objects. Below are the most basic features, but there exist a lot of other attributes, don't hesitate to look for what you need in [pandas API](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.date.html) ü§ì

In [7]:
df['year'] = df['dt'].dt.year
df['month'] = df['dt'].dt.month
df['day'] = df['dt'].dt.day
df['weekday'] = df['dt'].dt.dayofweek
df['hour'] = df['dt'].dt.hour
df['minute'] = df['dt'].dt.minute
df['second'] = df['dt'].dt.second

In [8]:
df.head()

,dt,values,year,month,day,weekday,hour,minute,second
0,2022-01-01 00:00:00,100.867870,2022,1,1,5,0,0,0
1,2022-01-01 01:00:00,100.950371,2022,1,1,5,1,0,0
2,2022-01-01 02:00:00,100.015876,2022,1,1,5,2,0,0
3,2022-01-01 03:00:00,97.719805,2022,1,1,5,3,0,0
4,2022-01-01 04:00:00,98.952580,2022,1,1,5,4,0,0

### Timedelta

When dealing with dates and times, another useful type is python's [timedelta](https://docs.python.org/3/library/datetime.html#timedelta-objects). `Timedelta` objects are useful to make some computations on `datetime` objects, for example: computing the time elapsed between two events, adding 24 hours to a datetime, etc...

Pandas `.dt` submodule also includes `timedelta` management:

In [9]:
# Create an object representing a timedelta of 1 day
days_1 = pd.to_timedelta(1, unit = 'd')
# Use the timedelta object to apply a systematic shift of - 1 day to all datetimes:
df["dt_1d"] = df["dt"] - days_1

# Create an object representing a timedelta of 10 hours
hours_10 = pd.to_timedelta(10, unit = 'h')
# Use the timedelta object to apply a systematic shift of + 10 hours to all datetimes:
df["dt_10h"] = df["dt"] + hours_10

df.head()

,dt,values,year,month,day,weekday,hour,minute,second,dt_1d,dt_10h
0,2022-01-01 00:00:00,100.867870,2022,1,1,5,0,0,0,2021-12-31 00:00:00,2022-01-01 10:00:00
1,2022-01-01 01:00:00,100.950371,2022,1,1,5,1,0,0,2021-12-31 01:00:00,2022-01-01 11:00:00
2,2022-01-01 02:00:00,100.015876,2022,1,1,5,2,0,0,2021-12-31 02:00:00,2022-01-01 12:00:00
3,2022-01-01 03:00:00,97.719805,2022,1,1,5,3,0,0,2021-12-31 03:00:00,2022-01-01 13:00:00
4,2022-01-01 04:00:00,98.952580,2022,1,1,5,4,0,0,2021-12-31 04:00:00,2022-01-01 14:00:00

In [10]:
# It's possible to use the operator "-"" between two datetime Series
# it will compute the time elapsed between the two Series and return it as a Timedelta
elapsed_time = df["dt_10h"] - df["dt"]
print("Elapsed time between dt and dt_10h:")
print(elapsed_time)
print()

# It's possible to convert this information into a duration in days or seconds:
print("Elapsed time in days:")
print(elapsed_time.dt.days)
print()
print("Elapsed time in seconds:")
print(elapsed_time.dt.seconds)

Elapsed time between dt and dt_10h:
0      0 days 10:00:00
1      0 days 10:00:00
2      0 days 10:00:00
3      0 days 10:00:00
4      0 days 10:00:00
             ...
8732   0 days 10:00:00
8733   0 days 10:00:00
8734   0 days 10:00:00
8735   0 days 10:00:00
8736   0 days 10:00:00
Length: 8737, dtype: timedelta64[ns]

Elapsed time in days:
0       0
1       0
2       0
3       0
4       0
       ..
8732    0
8733    0
8734    0
8735    0
8736    0
Length: 8737, dtype: int64

Elapsed time in seconds:
0       36000
1       36000
2       36000
3       36000
4       36000
        ...
8732    36000
8733    36000
8734    36000
8735    36000
8736    36000
Length: 8737, dtype: int32

## Pandas and strings: the .str submodule üìî
Similarly, pandas provides a `.str` submodule that allows to manipulate Series containing strings.

Let's begin by reading a file containing string data:

In [11]:
df = pd.read_csv("string_df.csv")
df.head()

                                         description
0  Scents of smoke and aged honey entice on the n...
1  This bottling, which is Randall Grahm's hommag...
2  For an easy and aromatic Sauvignon, Ermacora d...
3  A 65-35 blend of Sangiovese and Cabernet Sauvi...
4  Like all of Beringer's 2001 gold letter single...

### Basic transformations

In [12]:
# Lowercase
df["description"].str.lower()

0     scents of smoke and aged honey entice on the n...
1     this bottling, which is randall grahm's hommag...
2     for an easy and aromatic sauvignon, ermacora d...
3     a 65-35 blend of sangiovese and cabernet sauvi...
4     like all of beringer's 2001 gold letter single...
                            ...
95    a very nice wine, lush and drinkable, that dem...
96    leather, smashed berries and juniper reveal th...
97    a simple wine that straddles the balance betwe...
98    one of australia's most expensive and sought-a...
99    thick and luscious with deep oak tones and big...
Name: description, Length: 100, dtype: object

In [13]:
# Replace each occurrence of a pattern
df["description"].str.replace(" and ", "&") # pattern matching is case-sensitive and takes whitespaces into account

0     Scents of smoke&aged honey entice on the nose ...
1     This bottling, which is Randall Grahm's hommag...
2     For an easy&aromatic Sauvignon, Ermacora deliv...
3     A 65-35 blend of Sangiovese&Cabernet Sauvignon...
4     Like all of Beringer's 2001 gold letter single...
                            ...
95    A very nice wine, lush&drinkable, that demonst...
96    Leather, smashed berries&juniper reveal the ag...
97    A simple wine that straddles the balance betwe...
98    One of Australia's most expensive&sought-after...
99    Thick&luscious with deep oak tones&big cherry ...
Name: description, Length: 100, dtype: object

In [14]:
# Slicing
print(df["description"].str.slice(start=3)) # remove 3 first characters
print()
print(df["description"].str.slice(start=0, stop=10)) # Keep only 10 first characters

0     nts of smoke and aged honey entice on the nose...
1     s bottling, which is Randall Grahm's hommage t...
2      an easy and aromatic Sauvignon, Ermacora deli...
3     5-35 blend of Sangiovese and Cabernet Sauvigno...
4     e all of Beringer's 2001 gold letter single-vi...
                            ...
95    ery nice wine, lush and drinkable, that demons...
96    ther, smashed berries and juniper reveal the a...
97    imple wine that straddles the balance between ...
98     of Australia's most expensive and sought-afte...
99    ck and luscious with deep oak tones and big ch...
Name: description, Length: 100, dtype: object

0     Scents of
1     This bottl
2     For an eas
3     A 65-35 bl
4     Like all o
         ...
95    A very nic
96    Leather, s
97    A simple w
98    One of Aus
99    Thick and
Name: description, Length: 100, dtype: object

### Feature extraction

In [15]:
# Extract string length
df["desc_len"] = df["description"].str.len()

# Test if string starts with a given pattern
df["desc_starts_with_This"] = df["description"].str.startswith("This")

# Test if string contains in a given pattern
df["desc_contains_This"] = df["description"].str.contains("This")

# Count the occurrences of a pattern
df["desc_count_This"] = df["description"].str.count("This")

# Split string into a list of strings, by using a given separator
df["desc_split"] = df["description"].str.split(",")

# For the braves: how to count words
df["desc_wordcount"] = df['description'].str.split(" ").apply(lambda x: len(x))

df.head()

,description,desc_len,desc_starts_with_This,desc_contains_This,desc_count_This,desc_split,desc_wordcount
0,Scents of smoke and aged honey entice on the n...,199,False,False,0,[Scents of smoke and aged honey entice on the ...,35
1,"This bottling, which is Randall Grahm's hommag...",522,True,True,1,"[This bottling, which is Randall Grahm's homm...",84
2,"For an easy and aromatic Sauvignon, Ermacora d...",223,False,False,0,"[For an easy and aromatic Sauvignon, Ermacora...",38
3,A 65-35 blend of Sangiovese and Cabernet Sauvi...,203,False,True,1,[A 65-35 blend of Sangiovese and Cabernet Sauv...,32
4,Like all of Beringer's 2001 gold letter single...,383,False,False,0,[Like all of Beringer's 2001 gold letter singl...,64

With these few features from pandas `.dt` and `.str` submodules, you'll be able to carry on some basic analysis on datetimes and string data ü•≥

You will learn more advanced ways of extracting features from unstructured data later üòâ